<%- include('partials/header') -%>
<body>

    
    <form class = "mainform" action="/employee/new" method="POST">
        <h2>Add New Employee</h2>

        <label>Name</label>
        <input type = 'text' name = "name" placeholder = "Full Name">

        <label>Email</label>
        <input type = 'text' name = "email" placeholder = "example@email.com">

        <label>Gender</label>
        <input type = 'text' name = "gender" placeholder = "Gender">

        <label>Department</label>
        <input type = 'text' name = "department" placeholder = "Department">

        <label>Salary</label>
        <input type = 'number' name = "salary" placeholder = "$">
        <button>Submit</button>
  

    </form>

<%- include('partials/footer') -%>

</body>